$blue-color: #2702ff;
$text-color: #000f33;
$green-color: #00ac4f;
$red-color: #fd3737;
$gray-color: #f8f8f8;
$white-color: #ffffff;
$subtitle-color: #656c80;

$title-1: 50px;
$title-2: 35px;
$title-3: 22px;
$title-1-mobile: 32px;
$title-2-mobile: 25px;
$subtitle: 18px;
$subtitle-mobile: 16px;

$font-primary: Poppins;
